a {
    color: #4e4d4d;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}

#search-container {
    padding: 20px;
    }

#search-bar {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 25px;
}

#search-bar:hover {
    box-shadow: 2px 2px 2px 2px rgba(68,68,68,0.6)
}