a {
    color: #4e4d4d;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}

a:hover {
    text-decoration: underline;
}

#nav-bar {
    height: 20px;
    margin-top: 10px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

#app-icon {
    width: 25px;
    margin: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}
/*  Not working

#search-container {
    display: inline-flex;
    padding: 20px;
    border: red solid 2px;
    }

#search-container img {
    width:25px;
    height: 20px;
    padding: 0.5em;
}

#search-bar {
    padding: 10px;
    width: 500px;
    border-radius: 25px;
    border-style: 1px solid rgb(255, 255, 255);
}

#search-bar:hover {
    box-shadow: 1px 1px 1px 1px rgba(143, 143, 143, 0.6)
}

#search-icon {
    width: 20px;
    height: 20px;
    position: relative;
    border: blue solid 2px;
    margin: 0px;
    
}
*/
#small-button-container {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.button {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    margin: 3px;
    font-size: 14px;
    color: rgb(92, 92, 92);
    background-color: rgb(238, 238, 238);
    padding: 10px;
    border-radius: 5px;
}

.button:hover {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(214, 214, 214);
    margin: 2px;
    
}